#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1.0.0.2018061100
PRODUCTVERSION  1.0.0.2018061100
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS 0x00000000L
FILEOS  VOS__WINDOWS32
FILETYPE  VFT_APP
FILESUBTYPE  VFT_UNKNOWN
BEGIN
 BLOCK "VarFileInfo"
 BEGIN
   VALUE "Translation", 0x0409, 1252
 END

 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904E4"
  BEGIN
    VALUE "CompanyName", "aoyama iwao\0"
	VALUE "FileDescription", "pixxy\0"
	VALUE "FileVersion", "1.0.0.2018070300\0"
	VALUE "LegalCopyright", "(c) aoyama iwao"
	VALUE "OriginalFilename", "pixxy.exe\0"
    VALUE "ProductName", "pixXY\0"
	VALUE "ProductVersion", "1.0.0.2018070300\0"
  END
 END
END

